@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center carousel">
    <h1 class="display-4">Welcome!</h1>
    <p>Please make an appointment</p>
    <div class="container-fluid"><img width="100%" hieght="35%" src="images/HomePage.jpg" ></div>

</div>
